

    .section{
       background-color: #f0f0f6;
       border: solid black 1px;
       font-family: 'Nanum Gothic', sans-serif;
       }


    .hero {
       background-color:#1c1d25;
       height: 100 vh;
       color: white;
       font-size: 40px;
       }
    .flash{
       color: red;
       }

   .background{
        background-color: rgba(0, 0, 12, 1);
        background-image: linear-gradient(rgba(33, 114, 103, 0.8), rgba(0, 0, 12, 1);
   }

    .center_it{
       width: 50%;
       margin: 0 auto;
    }
