
    .section{
       background-color: #f0f0f6;
       border: solid black 1px;
       font-family: 'Nanum Gothic', sans-serif;
       }

    .hero {
       background-color:#1c1d25;
       height: 30 vh;
       color: white;
       font-size: 40px;
       margin-bottom: 10%;
       padding:10px;
       }

    .hero-container{
       display: flex;
       justify-content: center;
       }

    .alignment_container {
       /* Center child horizontally*/
       display: flex;
       justify-content: center;
       align-items: center;
       height:15vh;
       }

    .chat_page_container {
       /* Center child horizontally*/
       display: flex;
       justify-content: center;
       align-items: center;
       }

    .message_container{
    /* Center child horizontally*/
       display: flex;
       justify-content: center;
       }

    .flash{
       color: white;
       padding: 10px;
       text-align: center;
       }

    .ul-style{
       list-style-type: none;
       }

    .list-style{
      padding: 5px 10px;
      margin: 5px;
      background-color:#d1cfcf;;
      border-radius: 8%;
    }

   .background{
       background: #4EFECD;
       background: -webkit-radial-gradient(center, #4EFECD, #000000);
       background: -moz-radial-gradient(center, #4EFECD, #000000);
       background: radial-gradient(ellipse at center, #4EFECD, #000000);

      }

   .custom-centered{
       margin:0 auto;
       width:300px;
       }


    .vertical_space{
        margin-bottom: 500px;
        margin-top: 100px;
    }


  .scroll-div{
    width: 430px;
    background-color: white;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
  }
